In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('optuna_results.csv')
df.head()

,number,value,datetime_start,datetime_complete,duration,params_T_max,params_clip_epsilon,params_entropy_coef,params_eta_min,params_gae_lambda,params_gamma,params_lr,params_scheduler,params_value_loss_coef,state
0,0,NaN,2025-03-13 22:30:44.554933,2025-03-13 22:35:36.048113,0 days 00:04:51.493180,30,0.244512,0.000409,7.307863e-07,0.985439,0.966881,0.000905,step,0.657233,FAIL
1,1,NaN,2025-03-13 22:31:10.701195,NaN,NaN,11,0.217749,0.061115,8.461808e-06,0.913057,0.994101,0.000046,cosine,0.417319,RUNNING
2,2,NaN,2025-03-13 22:31:31.135638,NaN,NaN,14,0.251186,0.097746,3.280002e-06,0.922640,0.954416,0.000015,step,0.653407,RUNNING
3,3,NaN,2025-03-13 22:36:29.688188,NaN,NaN,42,0.240032,0.004949,8.515077e-07,0.911915,0.989286,0.000025,step,0.576429,RUNNING
4,4,NaN,2025-03-13 22:39:37.210763,NaN,NaN,44,0.124425,0.005477,1.804855e-07,0.903119,0.960800,0.000014,step,0.781833,RUNNING